.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linksss {
  display: flex;
}

.linksss a {
  margin-right: 10px;  /* Ajusta el margen entre los enlaces según sea necesario */
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}

/* Estilos específicos para cada enlace */
.linksss .home-link {
  background-color: #f0f0f0;
}

.linksss .about-link {
  background-color: #e0e0e0;
}

.linksss .contact-link {
  background-color: #d0d0d0;
}

